@mixin media-breakpoint-max($name, $breakpoints: $grid-breakpoints) {
  $max: breakpoint-max($name, $breakpoints);
  @if $max {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin make-col($size, $cols: $gridColumns) {
  flex: 0 0 percentage($size / $cols);
  max-width: percentage($size / $cols);
}

@mixin make-grid-col($cols: $gridColumns, $gutter: $gutters, $breakpoints: $grid-breakpoints) {
  %col {
    position: relative;
    width: 100%;
    padding-left: $gutter;
    padding-right: $gutter;
  }

  @each $breakpoint in map-keys($breakpoints) {
    $infix: breakpoint-infix($breakpoint, $breakpoints);

    @for $i from 1 through $cols {
      .col#{$infix}-#{$i} {
        @extend %col;
      }
    }
    .col#{$infix},
    .col#{$infix}-auti {
      @extend %col;
    }

    @include media-breakpoint-max($breakpoint, $breakpoints) {
      .col#{$infix} {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
      }

      .col#{$infix}-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
      }

      @for $i from 1 through $cols {
        .col#{$infix}-#{$i} {
          @include make-col($i, $cols);
        }
      }
    }
  }
}