$gutters: 15px !default;
$gridColumns: 12 !default;

$grid-breakpoints: (
  xl: 1200px,
  lg: 992px,
  md: 768px,
  sm: 568px,
  xs: 0,
) !default;

$spacer: 1rem !default;
$spacers: () !default;

$spacers: map-merge(
  (
    0: 0,
    1: (
      $spacer * 0.25
    ),
    2: (
      $spacer * 0.5
    ),
    3: $spacer,
    4: (
      $spacer * 1.5
    ),
    5: (
      $spacer * 2
    ),
    6: (
      $spacer * 2.5
    ),
    7: (
      $spacer * 3
    ),
    8: (
      $spacer * 7
    )
  ),
  $spacers
);